<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create job</title>
</head>
<body>

<form th:method="POST" th:action="@{/job/create}" th:object="${job}">

    <label for="name">Введите имя должности: </label>
    <input type="text" th:field="*{jobName}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('jobName')}" th:errors="*{jobName}">Error message</div>
    <div style="color:red" th:text="${jobAlreadyExistsError}">Error message</div>
    <br>

    <label for="salary">Введите зароботную плату должности: </label>
    <input type="text" th:field="*{salary}" id="salary">
    <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Error message</div>
    <br>

    <label for="capacity">Введите количество человек в должности: </label>
    <input type="text" th:field="*{capacity}" id="capacity">
    <div style="color:red" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">Error message</div>
    <br>

    <label for="department_id">Выберите отел: </label> <br>
    <select id="department_id" th:field="*{departmentId}">
        <option th:value="null">-- любой отдел -- </option>
        <option th:each="department : ${departments}" th:value="${department.getId()}" th:text="${department.getDepartmentName()}"></option>
    </select>
    <br>

    <input type="submit" value="Создать"/>

    <p><a th:href="@{/people}">На главную</a></p>
    </form>
<br/>
</body>
</html>